<div class="container">
    <h2> Demoing Shared Service -- see the impact in header component </h2>
    <p>Current Plan is: {{ planName }}</p>
  
    <br>
    Enter New plan:
    <input type="text" [(ngModel)]="newPlan">
    <button type="button" (click)="changePlan()">Change Plan</button>
  
    <hr>
    <br>
  
    <h2>Reactive Forms</h2>
  
    <div class="container">
      <div class="row">
        <div class="col-10">
          <div class="jumbotron">
            <h2>Angular 7 Reactive Forms with validation</h2>
            <form name="form" [formGroup]="contactForm">
              <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" name='firstName' 
                [ngClass]="{ 'is-invalid': contactForm.get('firstName').touched && contactForm.get('firstName').invalid }"/>
                <div class="invalid-feedback">
                  <div>First Name is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control"  name='lastName'
                [ngClass]="{ 'is-invalid': contactForm.get('lastName').touched && contactForm.get('lastName').invalid }"/>
                <div class="invalid-feedback">
                  <div>Last Name is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" />
                <div class="invalid-feedback">
                  <div>Email is required</div>
                  <div>Email seems to be not valid</div>
                </div>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" />
                <div class="invalid-feedback">
                  <div>Password is required</div>
                  <div>Password must be at least 6 characters</div>
                </div>
  
              </div>
              <div class="form-group">
                <button class="btn btn-primary">Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
    <h2>pipes</h2>
    <p>{{birthday}}</p>
    <p>{{birthday | date}}</p>
    <p>{{birthday | date:MM/dd/yyyy}}</p>
    <hr>
    <p>{{ loremIpsum }}</p>
    <p>{{ loremIpsum | ellipsis }}</p>
    <p>{{ loremIpsum | ellipsis: '64' }}</p>
    <p>{{ loremIpsum | ellipsis: '160' }}</p>

    </div>
  
